.show-popup {
    padding: 18px 40px;
    background: #6e78ff;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #f2f2f2;
    font-weight: 500;
  }
  .popup-container {
      position: fixed; /* Posición fija en relación con la ventana */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      z-index: 999; /* Asegura que el popup esté por encima del resto del contenido */
  }

  .popup-container.active {
      opacity: 1;
      pointer-events: auto;
      transition: .4s ease;
  }

  .popup-box {
      position: relative;
      width: 500px;
      max-height: 80vh;
      overflow-y: auto;
      background: #f2f2f2;
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      padding: 10px;
      transform: scale(0);
      z-index: 1000;
  }

  .popup-container.active .popup-box {
      transform: scale(1);
      transition: .4s ease;
      transition-delay: .25s;
  }

  .popup-container .popup-box {
      width: 500px;
      background: #f2f2f2;
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      padding: 10px;
      transform: scale(0);
      z-index: 1000; /* Asegura que el popup esté por encima del fondo */
  }

  .popup-box h1 {
    color: #333;
    line-height: 1;
  }
  .popup-box p {
    color: #333;
    margin: 12px 0 20px;
  }
  .popup-box .close-btn {
    width: 100%;
    height: 45px;
    background: #6e78ff;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #f2f2f2;
    font-weight: 500;
  }


  .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #0c1482;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 1100;
  }

  .close-btn:before,
  .close-btn:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 20px;
      background-color: #f2f2f2;
  }

  .close-btn:before {
      transform: rotate(45deg);
  }

  .close-btn:after {
      transform: rotate(-45deg);
  }

  /* ----- -----  Estilos para Cuenta ----- ----- */

  .title-account{
      font-size: 50px;
  }

  .img_user_account {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
    .img_user_account {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: cover;
    }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .img_user_account {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }

    .show-popup {
        padding: 5px 10px;
        background: #6e78ff;
        border: none;
        outline: none;
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 15px;
        color: #f2f2f2;
        font-weight: 500;
      }
}
