.backgroud-nocheck{
    background: radial-gradient(circle, #4C82AC, #0B2C51);
}

backgroud-check{
    background: radial-gradient(circle, #4C82AC, #0B2C51);
}

[x-cloak] {
    display: none;
}

/* ----- -----  Estilos para texto blanco ----- ----- */

.socialsneaker-titletext{
    font-family: "Luckiest Guy", cursive;
    color: white;
}

.socialsneaker-textbold{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.socialsneaker-text{
    color: white;
}

/*Estilos navbar*/

.logo {
    cursor: pointer;
    width: 70px; /* Ancho del contenedor del logo */
    height: 70px; /* Altura del contenedor del logo */
    border-radius: 50%; /* Hace que el contenedor del logo sea circular */
    overflow: hidden; /* Para ocultar cualquier contenido que exceda los bordes redondeados */
}

.logo img {
    width: 100%; /* Ajusta el tamaño de la imagen para que llene el contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    transition: all 0.3s;
}

.logo img:hover {
    transform: scale(1.2);
}

.img_user_account{
    border-radius: 50%;
    object-fit: cover;
}

.line-account {
    height: 4px;
    border: none;
    background-color: black;
}





